body {
  width: 100%;
}
#Hamburger {
  height: 100px;
  background: red;
  width: 100px;
}
#Hamburger.open {
  opacity: 0.5;
}
#Hamburger.closed {
  opacity: 1;
}
#Navigation {
  height: 100px;
  background: blue;
  width: 100px;
}
#Navigation.open {
  opacity: 0.5;
}
#Navigation.closed {
  opacity: 1;
}
#Black-filter, #Black-filter-1, #Black-filter-2, #Black-filter-3, #Black-filter-4 {
  height: 100px;
  background: green;
  width: 100px;
}
#Black-filter.open, #Black-filter-1.open, #Black-filter-2.open, #Black-filter-3.open, #Black-filter-4.open {
  opacity: 0.5;
}
#Black-filter, #Black-filter-1.closed, #Black-filter-2.closed, #Black-filter-3.closed, #Black-filter-4.closed {
  opacity: 1;
}
